ログインページ

    <div class="のぞゲームズのログインサイトです
" :class="{'open': formOpen}">
      <div class="button-copy" v-show="!formOpen" @click="formOpen = true">のぞゲームズのログインサイトです</div>
      <form @submit="cancel()">
  
        <div class="form--field">
          <label>ID *</label>
          <input type="text" class="form--element" name="title" v-model="productData.title" placeholder="ID" required="">
        </div>

        <div class="form--container -inline">
          <div class="form--field -short">
            <label>PassWord *</label>
            <input type="text" class="form--element" name="PassWord" v-model="productData.rating" placeholder="PassWord" required="" min="0" max="5" step="0.5">
          </div>
          <div class="form--field -short">
           
          
        </div>
        <div class="form--field">
          <label class="emoji">
            のぞゲームズの会員ですか？（はいの場合はチェック）
            <input type="checkbox" name="is_featured" v-bind="productData.is_featured">
            <span></span>
          </label>
          <p class="featured-note">ID、PassWord等は会員登録時にメール等でお送りしております。</p>
        </div>
        
   
        <a href="https://sites.google.com/view/nozomuguru-puho-ruthinguzu/%E3%83%9B%E3%83%BC%E3%83%A0"><span class="ttl">ログイン</span></a>
    </div>
  </div>




  のぞむグループホールディングズ（株）
 
</div> 社長　　齋藤望叶
